* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*To prvent browser default margins & padings*/
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /*Line height is 1.7 times bigger then predefined/default line height*/
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /*95% of the viewport height*/
  /* The viewport is the user's visible area of a web page. */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("/img/hero.jpg");
  background-size: cover;
  /* whatever the width of the viewport, or the element, it'll always try to fit the element inside of the box. */
  background-position: top;
  /* middle-fit the image for every screen */
  /* the image will get cropped to middle-fit to ensure responsiveness */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  /* to occupy the entire width available & they create line breaks after and before them. */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
