.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 20rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
      transition: all 0.4s ease-in;
      -webkit-transition: all 0.4s ease-in;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: rgba($color-primary, 0.5);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: none;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s ease-out;
  }

  span {
    display: inline-block;
    position: relative;
    transition: all 0.2s;
  }

  &:hover,
  &:focus {
    color: $color-white;
    box-shadow: inset 0px -4rem 0px $color-primary;
    outline: none;

    span {
      animation: moveArr 0.5s 0.3s forwards;
    }
  }
  &:active {
    // color: $color-white;
    // box-shadow: inset 0px -4rem 0px $color-primary;
    transform: translateY(2px);
  }
}
